/* -------------------------------------------------- */
/* Shared layout                                      */
/* -------------------------------------------------- */

.skill-section,
.skills-column,
.skill-box-outer,
.skill-box-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.skill-box-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* -------------------------------------------------- */
/* Section                                            */
/* -------------------------------------------------- */

.skill-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1.2rem;      /* title ↔ rows spacing */
    padding-top: 5rem;
}


.skill-group-title {
    font-size: 20pt;
    font-weight: 200;
}


/* -------------------------------------------------- */
/* Outer box                                          */
/* -------------------------------------------------- */

.skill-box-outer {
    position: relative; /* enable absolute positioning inside */
    width: 8vw;
    height: 8vw;

    margin: 1rem;

    border-radius: 25px;

    background-color: var(--BoxGrayBG);
}


/* -------------------------------------------------- */
/* Inner box (glass border)                            */
/* -------------------------------------------------- */

.skill-box-inner {
    position: relative;

    width: 88%;
    height: 88%;

    border: 1px solid transparent;
    border-radius: 25px;

    background-color: var(--BoxGrayLightBG);
    position: relative;
    z-index: 1;
}


/* -------------------------------------------------- */
/* Icon                                               */
/* -------------------------------------------------- */

.skill-box-inner img {
    width: 80%;
    height: 80%;

    user-select: none;   /* disables text selection */
    -webkit-user-select: none; /* for Safari/Chrome */
    -moz-user-select: none;    /* for Firefox */
    -ms-user-select: none;     /* for IE/Edge */
    -webkit-user-drag: none; 
    pointer-events: none; 
}

.skill-border-div {
    position: absolute;  /* take it out of flow */
    
    width: calc(88% + 3px);   /* slightly bigger than inner box */
    height: calc(88% + 3px);
    border-radius: 25px;       /* match inner box radius */
    
    /* glass border effect */
    background: linear-gradient(
        -45deg, 
        #878787,   /* white start */
        var(--BoxGrayLightBG),   /* middle */
        #878787    /* white end */
    );

    z-index: 0;                /* behind */
}

.skill-box-outer {
    transition: transform 0.5s ease, box-shadow 0.3s ease;
    /* cursor: pointer; shows it’s clickable BAD, THIS ELEMENT IS NOT INTERACTABLE */
}

/* .skill-box-outer:hover {
    transform: translateY(-3%) scale(1.05); 
    box-shadow: 0 2px 10px rgba(198, 106, 255, 0.25);  BAD, THIS ELEMENT IS NOT INTERACTABLE
} */


